*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: cornflowerblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Panel {
  background-color: lightgoldenrodyellow;
  border: 8px solid burlywood;
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  margin: 1.3rem;
}

.Header {
  height: 6rem;
  width: 30rem;
  text-align: center;
}

.HeadText {
  font-size: 5rem;
  font-weight: bold;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 1.5rem;
  width: 40rem;
  border: 8px solid burlywood;
  background-color: bisque;
  border-radius: 8%;
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
  width: 7rem;
  height: 7rem;
  margin: 0.75rem;
  border-radius: 50%;
  border: 3px solid black;
}

.player0 {
  background-color: white;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}

.Footer {
  height: 7rem;
  width: 30rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.Footer button {
  margin: 0.5rem;
  width: 12rem;
  height: 4rem;
  background-color: lightblue;
  font-size: 2rem;
  box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
  border: 5px solid chocolate;
  font-weight: bold;
}

.Footer button:hover {
  background-color: chocolate;
}

@media (max-width: 450px){
  *{
    font-size: 50%;
  }
}

@media (max-width: 350px) {
  *{
    font-size: 37.5%;
  }
}